	  /* ============= */
	 /* === FONTS === */
	/* ============= */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);

@font-face {
	font-family: 'PoliticsHeadBold';
	font-style: normal;
	font-weight: normal;
	src: local('☺'), local('PoliticsHeadBold'), url('../fonts/PoliticsHeadBold.woff') format('woff');
}


	  /* ============= */
	 /* === RESET === */
	/* ============= */

* {outline: 0;}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

	  /* ================== */
	 /* === ALIGNMENTS === */
	/* ================== */


.alignnone {
	margin: 20px 0;
}
.aligncenter,
.center {
	text-align: center;
	display: block;
	margin: 20px auto;
}
figure.aligncenter,
img.center,
img[align="center"] {
	display: block;
	margin: 5px auto 20px;
}
.alignleft {
	float: left;
}
figure.alignleft,
img.alignleft,
img[align="left"] {
	float: left;
	margin: 5px 40px 20px 0;
}
.alignright {
	float: right;
}
figure.alignright,
img.alignright,
img[align="right"] {
	float: right;
	margin: 5px 0 20px 40px;
}


	/* ------------------------------ Main */

body#tinymce {padding: 10px 20px;}
* {
	font-family: 'Open Sans', 'Helvetica Neue', 'Arial', Sans-Serif;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 400;
	vertical-align: baseline;
	color: #404040;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(255,255,255,0.01) 0 0 1px;
}

	/* ------------------------------ Headlines */

h1, h2, h3, h4, h5, h6, h7 {
	font-family: 'PoliticsHeadBold', 'Helvetica Neue', 'Arial', Sans-Serif;
	font-weight: 400;
	margin: 1em 0;
	color: #181818;
}

h1 {
	font-size: 2.4em;
	line-height: 1em;
}
h2 {
	font-size: 1.9em;
	line-height: 1em;
}
h3 {
	font-size: 1.5em;
	line-height: 1em;
}
h4 {
	font-size: 1.2em;
	line-height: 1em;
}
h5 {
	font-size: 1em;
	line-height: 1em;
}
h6 {
	font-size: 1em;
	line-height: 1em;
}

	/* ------------------------------ Text */

a,
a:active,
a:visited {
	color: #ff9f40;
}
a:hover {
	color: #ff7f00;
}

p {
	margin: 1.5em 0;
}
strong {
	font-weight: 700;
}
hr {
	height: 1px;
	margin: 1.5em 0;
	background: #808080;
}
em,
i {
	font-style: italic;
}

q:before,
q:after {
	color: #1483a8;
}
q:before {
	content: '„';
}
q:after {
	content: '“';
}

blockquote:before {
    color: #1483a8;
    content: '”';
    font-size: 3em;
    line-height: 100%;
	font-weight: 700;
    position: absolute;
    top: 0;
    left: 0.25em;
    height: auto;
    margin: 0;
    padding: 0;
}
blockquote {
	font-style: italic;
	color: #808080;
	padding: 0 0 0 4em;
	margin: 1.5em 0;	
	position: relative;
}
cite,
small {
	font-size: 0.8em;
}
pre {
	overflow: hidden;
	margin: 2em 0;
	background: #f4f4f4;
	padding: 1em;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
code {
	font-size: 0.8em;
}

pre code {
	display: block;
	padding: 2em;
	margin: -1.2em;
	color: #bfbfbf;
	background: #404040;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

	/* ------------------------------ Lists */

ul,
ol,
dl {
	margin: 1.5em 0 1.5em 2em;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin: 0 0 0 2em;
}
ul {
	list-style: none;
}
ol {
    list-style: decimal outside none;
}
ol ol {
    list-style: upper-alpha outside none;
}
ol ol ol {
    list-style: lower-roman outside none;
}
ol ol ol ol {
    list-style: lower-alpha outside none;
}
li {
	margin: 0;
	padding: 0.1em;
}
ul li:before {
	content: '';
	display: block;
	position: absolute;
	width: 1.5em;
	height: 1.5em;
	margin: 0 0 0 -1.8em;
	padding: 0.1em;
	background: transparent url('../images/icon-list.png') no-repeat scroll center center;
}
dt {
	font-weight: 700;
}
dd {
	margin: 0 0 1.5em;
}

	/* ------------------------------ Tables */

table {
    margin: 1.5em 0;
    width: 100%;   
}
th {
	text-align: left;
 	color: #1483a8;
	font-weight: 700;
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	border-bottom: 1px solid #bfbfbf;
}
td {
	border-bottom: 1px solid #bfbfbf;
	padding: 6px 10px 6px 0;
	font-size: 0.9em;
	line-hei

	/* ------------------------------ Figures */

img {
	max-width: 100%;
	height: auto;
}
object,
audio {
	max-width: 100%;
}

@media	only screen and (-webkit-min-device-pixel-ratio: 2), 
		only screen and (-moz-min-device-pixel-ratio: 2), 
		only screen and (-o-min-device-pixel-ratio: 2/1), 
		only screen and (min-device-pixel-ratio: 2) {
	.article ul li:before {
		background: transparent url('../images/icon-list@2x.png') no-repeat scroll center center;
		background-size: 15px 15px;
	}
}
