html, body {
	background: #f4f4f4 url('../images/bg-main.png') repeat top center scroll !important;
	background-size: 100px 100px !important;
}
body {
	font-family: Arial, sans-serif;
	font-weight: normal;	
	font-style: normal;
	font-size: 12px;
	color: #444;
}
#login {
    padding: 96px 0 0 !important;
}
#login h1 {}
#login h1 a { 
	background: transparent url('../images/login.png') no-repeat center 0 !important;
	background-size: 256px 256px !important;
	width: auto;
	height: 256px!important;
	margin: 0;
}
#login_error, .login .message {
	margin: 0 0 10px;
}
#login form {
	margin: 0;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
input#user_login, input#user_pass {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	background: #fbfbfb;
	border: 1px solid #e3e3e3;

	-webkit-box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
	-moz-box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
	box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
}
input#user_login:hover, input#user_pass:hover {
	border: 1px solid #d8d8d8;
}
input#user_login:focus, input#user_pass:focus {
	border: 1px solid #cfcfcf;
	background: #fff;
}

#login form .submit input { 
	background: #404040!important;
	border: 0!important;
	text-shadow: none!important;
	color: #fff!important;
	
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
#login form .submit input:hover {
	background: #000 !important;
	color: #fff!important;
}
.login #nav, .login #backtoblog {
    margin: 10px;
    padding: 0;
    text-shadow: none;
}
.login #backtoblog a {
	text-decoration: none;
}
.login #nav {color: transparent;}
.login #nav a {
	display: inline-block;
	width: auto;
	background: #fff;
	padding: 6px 8px;
	border: 1px solid #E5E5E5;
	color: #404040!important;
	text-decoration: none;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.login #nav a:hover {
	color: #000 !important;
}
@media	only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (-moz-min-device-pixel-ratio: 2),
		only screen and (-o-min-device-pixel-ratio: 2/1),
		only screen and (min-device-pixel-ratio: 2) {
	body {
		background-image: url('../images/bg-main@2x.png') !important;
	}
}