html, body {
	background: #f4f4f4!important;
}
body {
	font-family: Arial, sans-serif;
	font-weight: normal;	
	font-style: normal;
	font-size: 12px;
	color: #444;
}
#login h1 {}
#login h1 a { 
	background: transparent url('../images/logo_small.png') no-repeat center 0 !important; 
	width: auto;
	height: 128px!important;
	margin: 0;
	background-size: auto !important;
}
#login_error, .login .message {
	margin: 0 0 10px;
}
#login form {
	margin: 0;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
input#user_login, input#user_pass {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	background: #fbfbfb;
	border: 1px solid #e5e5e5;

	-webkit-box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
	-moz-box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
	box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
}
input#user_login:hover, input#user_pass:hover {
	border: 1px solid #d8d8d8;
}
input#user_login:focus, input#user_pass:focus {
	border: 1px solid #cfcfcf;
	background: #fff;
}

#login form .submit input { 
	background: #f68713!important;
	border: 0!important;
	text-shadow: none!important;
	color: #fff!important;
	
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
#login form .submit input:hover {
	background: #000 !important;
	color: #fff!important;
}
.login #nav, .login #backtoblog {
    margin: 10px;
    padding: 0;
    text-shadow: none;
}
.login #backtoblog a {
	text-decoration: none;
}
.login #nav {color: transparent;}
.login #nav a {
	display: inline-block;
	width: auto;
	background: #fff;
	padding: 6px 8px;
	border: 1px solid #E5E5E5;
	color: #f68713!important;
	text-decoration: none;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.login #nav a:hover {
	color: #000 !important;
}