/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;margin: 0;padding: 0;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}

/* Play Pause */
.flex-pauseplay {
	position: absolute;
	top: 1em;
	right: 1em;
	text-align: center;
	z-index: 2000;
	background: rgba(0,0,0,0.75);
}
.flex-pauseplay .flex-play,
.flex-pauseplay .flex-pause {
	display: block;
	width: 1em;
	height: 1em;
	line-height: 1em;
	padding: 0.5em;
	cursor: pointer;

	color: transparent;
	text-indent: -10000px;

	background-position: center center;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: 18px 18px;
}
.flex-pauseplay .flex-play {
	background-image: url('../images/icon-control-play.png');
}
.flex-pauseplay .flex-pause {
	background-image: url('../images/icon-control-pause.png');
}



/* Direction Nav */
.flex-direction-nav {
	position: absolute;
	top: 1em;
	right: 4em;
	padding: 0 0.25em;
	text-align: center;
	z-index: 2000;
	background: rgba(0,0,0,0.75);
}
.flex-direction-nav li {
	display: block;
	float: left;
	zoom: 1;
	padding: 0.5em 0.25em;
	margin: 0;
	height: 1em;
	line-height: 1em;
}
.flex-direction-nav a {
	display: block;
	width: 1em;
	height: 1em;
	line-height: 1em;
	color: #bfbfbf;
	cursor: pointer;
	text-align: center;
	z-index: 2000;
	text-indent: -999em;
}
.flex-direction-nav .flex-next {
	background: url('../images/arrow-bold-right.png') center center no-repeat scroll;
	background-size: 18px 18px;
}
.flex-direction-nav .flex-prev {
	background: url('../images/arrow-bold-left.png') center center no-repeat scroll;
	background-size: 18px 18px;
}
.flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}


/* Control Nav */
.flex-control-nav {
	position: absolute;
	overflow: hidden;
	top: 1em;
	right: 8.5em;
	padding: 0 0.25em;
	text-align: center;
	z-index: 2000;
	background: rgba(0,0,0,0.75);
}
.flex-control-nav li {
	display: block;
	float: left;
	zoom: 1;
	padding: 0.5em 0.25em;
	margin: 0;
	height: 1em;
	line-height: 1em;
}
.flex-control-paging li a {
	cursor: pointer;
	display: inline-block;
	height: 1em;
	line-height: 1em;
	width: 1em;
	background: #fff;
	color: transparent;
	text-indent: -10000px;
	
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active {
	background: #f80;
}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .active {opacity: 1; cursor: default;}

@media only screen and (max-width: 860px) {
	.flex-direction-nav a {
		bottom: 64px;
	}
}

@media	only screen and (-webkit-min-device-pixel-ratio: 2), 
		only screen and (-moz-min-device-pixel-ratio: 2), 
		only screen and (-o-min-device-pixel-ratio: 2/1), 
		only screen and (min-device-pixel-ratio: 2) {
	.flex-direction-nav .flex-next {
		background-image: url('../images/arrow-bold-right@2x.png');
	}
	.flex-direction-nav .flex-prev {
		background-image: url('../images/arrow-bold-left@2x.png');
	}
	.flex-pauseplay .flex-play {
		background-image: url('../images/icon-control-play@2x.png');
	}
	.flex-pauseplay .flex-pause {
		background-image: url('../images/icon-control-pause@2x.png');
	}
}