/* ----------------- */
/* theme options css */
/* ----------------- */

@import url('../css/font-awesome.min.css');

.column-description img {
	max-width: 100%; /* Bug Fix, while enabling <img /> in category description. Independend from Theme-Options here. */
	height: auto;
}

.widefat {
	margin: 8px auto 12px;
}
.social-icon {
	display: block;
	float: left;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	margin: -4px 8px 0 0;

	color: #fff;
	text-shadow: none;
	background-color: #ea2178;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.social-icon.rss {
	background-color: #ee9900;
}
.social-icon.twitter {
	background-color: #3ea9dd;
}
.social-icon.appdotnet {
	background-color: #cbccce;
}
.social-icon.facebook {
	background-color: #3c5a98;
}
.social-icon.google {
	background-color: #d14836;
}
.social-icon.youtube {
	background-color: #c6312b;
}
.social-icon.mail {
	background-color: #efbf00;
}
.social-icon.podcast {
	background-color: #408ad2;
}


@media	only screen and (-webkit-min-device-pixel-ratio: 2), 
		only screen and (-moz-min-device-pixel-ratio: 2), 
		only screen and (-o-min-device-pixel-ratio: 2/1), 
		only screen and (min-device-pixel-ratio: 2) {
	.social-icon.rss {
		background-image: url('../images/icon-social-rss@2x.png');
	}
	.social-icon.twitter {
		background-image: url('../images/icon-social-twitter@2x.png');
	}
	.social-icon.appdotnet {
		background-image: url('../images/icon-social-appdotnet@2x.png');
	}
	.social-icon.facebook {
		background-image: url('../images/icon-social-facebook@2x.png');
	}
	.social-icon.google {
		background-image: url('../images/icon-social-plus@2x.png');
	}
	.social-icon.youtube {
		background-image: url('../images/icon-social-youtube@2x.png');
	}
	.social-icon.mail {
		background-image: url('../images/icon-social-mail@2x.png');
	}
	.social-icon.podcast {
		background-image: url('../images/icon-social-podcast@2x.png');
	}
}